<% @title = 'Consent' %>

<h3>Chinese School Waiver / 中文學校家長同意書</h3>

<p>
  Consent, Release and Assumption of Risk
  <br>攝像同意、免責及風險承擔書
</p>
<p>
  1. I (we), have voluntarily sought to participate in Activities Sponsored by the Thousand Oaks Chinese School during the <%=h @registration_school_year.name %> school year (referred to as the “Activity”).
  <br>1. 我（們），自願參加千橡中文學校於<%=h @registration_school_year.name %>學年度舉辦的活動（以下簡稱“活動”）。
</p>

<p>
  2. I understand that this Activity presents an inherent risk of injury, serious bodily harm, or death and in consideration of being allowed to participate in this Activity; I expressly assume all risks, including personal injury and death, arising in any way out of my participation in this Activity.
  <br>2. 我了解參加此活動存在受傷、嚴重身體損傷或死亡的固有風險，並且基於能夠參加此活動的考量，我明確承擔所有可能因參加活動而引起的風險，包括個人傷害及死亡。
</p>

<p>
  3. I represent that I have no physical or mental condition, which prevents me from participating in this Activity in a manner that is safe for others and myself. It is my responsibility to dress appropriately for this Activity and to take all other appropriate actions in advance of, and while performing, this Activity.
  <br>3. 我聲明本人無任何身心狀況會妨礙我以安全的方式參與此活動。我有責任為此活動穿著適當服裝並採取其他適當的預防措施。
</p>

<p>
  4. In consideration of the benefits I will receive from participating in the Activity, I hereby agree that I, my assignees, heirs, next of kin, distributes, guardians, and legal or personal representatives will not make a claim against, sue, or attach the property of Thousand Oaks Chinese School (TOCS) or any person affiliated with TOCS, for injury, death, damage, or loss caused by participation in the Activity.
  <br>4. 鑑於我參加活動所能獲得的益處，我同意本人、受讓人、繼承人、近親、遺產受益人、監護人及法律或個人代表不會因活動中產生的任何傷害、死亡、損失或損害而對千橡中文學校（TOCS）或其相關人員提出索賠、訴訟或財產追討。
</p>

<p>
  5. I understand and agree that if a claim, suit, or attachment is brought or sought against me as a result of my participation in the Activity, I shall not be entitled to any defense or indemnification by TOCS.
  <br>5. 我理解並同意，若因本人參加活動而被索賠、起訴或扣押財產，我將無權要求TOCS提供任何形式的辯護或賠償。
</p>

<p>
  6. I understand and agree that the owner, sponsor, manager, and/or supplier of services may ask me to sign additional waivers, and that TOCS will not be responsible for consequences of my separate agreements.
  <br>6. 我了解並同意，活動服務提供者可能要求我簽署額外的免責聲明，且TOCS不對我所單獨簽署的任何協議後果負責。
</p>

<p>
  7. I understand and agree that any damage to school property, facilities, or equipment caused by the student will be the financial responsibility of the student and/or their parent(s)/guardian(s).
  <br>7. 我理解並同意，學生若造成校舍、設施或設備毀損，將由學生及/或其家長（監護人）負擔修繕或更換之相關費用。
</p>
<p>
  8. I understand and agree that students must follow the instructions of school staff when entering, exiting, and while on campus; parents (guardians) are solely responsible for the student’s safety outside of class locations. class location map: <a href="#" onclick="window.open('https://drive.google.com/file/d/1_3D9ta4RtiDNuM8R7SKte85eQFcYZfHs/view?usp=sharing');">click Map</a>
  <br>8. 我理解並同意，學生進出校園及在校期間必須遵從學校工作人員的指示；上課場所之外的安全由家長（監護人）自行負責。地圖: <a href="#" onclick="window.open('https://drive.google.com/file/d/1_3D9ta4RtiDNuM8R7SKte85eQFcYZfHs/view?usp=sharing');">點我</a>
</p>
<p>
  9.To publicize and showcase the achievements of our students in Thousand Oaks Chinese School (TOCS), the school would like to occasionally publish students’ names, photographs, or achievements in our school publications or release the information to local media (newspapers and television.) During online classes, teachers might record study sessions for review purposes. In some instances, students may even be interviewed and televised by local media. We may also post the information on the school’s website.
  We understand that you may not want to have your child’s name, photo, or achievements published. Please fill out this form to let us know if you do not want your child’s name, photo, or achievements published.
  <br><span style="color: red">I DO NOT give permission for my child’s photo, name and/or achievements to be published in school or local newspapers, television, and/or posted on the school’s website. Please email <a href="mailto:yearbook@to-cs.org">yearbook@to-cs.org</a> to opt out.</span>
  <br>9.為了宣傳與展示千橡中文學校（TOCS）學生的優異表現，本校有時會在校刊或地方媒體（報紙、電視）上刊登學生的姓名、照片或成就；在網上課程期間，老師可能會錄製教學過程供課後複習。部分情況下，學生亦可能接受地方媒體訪問並登上電視報導。此外，本校也可能將相關資料張貼於學校官方網站。
  我們理解部分家長可能不希望孩子的姓名、照片或成就被公開。若您不同意，請email給 yearbook@to-cs.org 表格通知學校。
  <br><span style="color: red">我不同意讓我的孩子的姓名、照片和/或成就刊登於學校出版物、地方媒體（報紙、電視）或學校網站上。請 email to <a href="mailto:yearbook@to-cs.org">yearbook@to-cs.org</a> to opt out.</span>
</p>
<hr/>
<p style="font-weight: bold;">
  I HAVE CAREFULLY READ THIS AGREEMENT AND FULLY UNDERSTAND ITS CONTENTS. I AM AWARE THAT THIS IS A RELEASE OF LIABILITY, ASSUMPTION OF RISK, AND PROMISE NOT TO SUE OR MAKE A CLAIM, AND I SIGN THIS OF MY OWN FREE WILL.
  <br>我已詳細閱讀本協議並完全理解其內容。我了解這是一份免責聲明、風險承擔及放棄訴訟與索賠的承諾。
</p>

<%= form_tag action: 'payment_entry', id: @registration_school_year, register_elective_class_only: @register_elective_class_only do %>
  <% @registration_preferences.each_with_index do |registration_preference, index| %>
    <%= hidden_field_tag "registration_preferences[#{index}]", registration_preference.id %>
  <% end %>
  <%= submit_tag 'Agree and Continue', class: 'button' %>
<% end %>
<br/>
<%= link_to 'Cancel Registration', {controller: '/home'}, {class: 'button'} %>
